.header_plus {
     height: 50vh;
     background: #f6f6f6;
}
.search_div {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 1.5em 0;
}
.search_div input {
     width: 40%;
     height: 6vh;
     border: 1px solid;
     padding-left: 1em;
}
.search_div button {
     border: none;
     height: 6vh;
     background: black;
     color: white;
     width: 10%;
     font-size: 1.1em;
}